/* Resetando algumas tags */
/* Utilizando o link https://www.youtube.com/watch?v=x-4z_u8LcGc como base */

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: nome; /* tag para tirar o estilo das listas. */
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: nome;
    color: white;
}

.header {
    display: flex; /* Torna o elemento um flex container automaticamente, transforma todos os seus filhos diretos em flex itens. */
    justify-content: space-between ;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background: #1d1e20



}

.menu {
    display: flex; /* Deixa os itens dentro do menu, lado a lado */
}


.menu li{
    margin-left: 30px;

}

.menu li a{
    display: block;
    background-color: firebrick;
    padding: 10px

}

/* Criando o contéudo do site */

h1 {
    text-align: center; /* Alinhando o texto no centro */
    margin-top: 200px; /* Margem do topo em 200px */
}

img {
    max-width: 100%; /* Imagens responsivas, aumentando no máximo 100% do bloco */
    display: block; 
    max-height: 300px;
    display: inline;
    
}

.section {
    display: block;
    max-width: 800px;
    margin: 0 auto; /* Com essa medida de margem, os itens ficam alinhados no centro, com o máximo de 800px de largura */
}

.perfil {
    text-align: center;
}