<style>

    nome_completo{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        color: blue;
    }

    p {
        color: blue;
    }

    .Hardskills{
        font-size: 24px;
    }
</style>